apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongodb-pv
spec:
  capacity: 
    storage: 1Gi  
  accessModes:
    - ReadWriteMany
  cephfs:
    monitors:
      - {{ceph_server}}:6789
    path: {{mongo_mount_path}}
    user: admin
    readOnly: false
    secretRef:
        name: ceph-secret-{{build_in_namespace}}
  persistentVolumeReclaimPolicy: Recycle