---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mir2-handler-deployment
  namespace: {{ build_in_namespace }}
spec:
  replicas: {{ handler_replicas }}
  template:
    metadata:
      labels:
        app: mir2-handler-deployment-tmpl
    spec:
      containers:
      - name: mir2-handler
        image: "{{ registry_host }}/library/mir2-handler:{{ mir2_handler_image_version
          }}"
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: "/etc/localtime"
          name: timezone-volume
        - mountPath: /application.yml
          subPath: application.yml
          name: application-config
      volumes:
      - name: application-config
        configMap:
          name: mir2-handler-configmap
      - name: timezone-volume
        hostPath:
          path: "/etc/localtime"

