apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    server: http://{% if master_vip %}{{ master_vip }}{% else %}{{ hostvars[groups['masters'][0]]['ansible_host']}}{% endif %}:{% if master_vip_port %}{{master_vip_port}}{% else %}8080{% endif %}

    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/worker-{{ ansible_default_ipv4.address }}.pem
    client-key: /etc/kubernetes/ssl/worker-{{ ansible_default_ipv4.address }}-key.pem
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
