apiVersion: v1
kind: PersistentVolume
metadata:
  name: rabbitmq-pv
spec:
  capacity: 
    storage: {{storage_capacity}}  
  accessModes:
    - {{accessModes}}
  cephfs:
    monitors:
      - {{ceph_server}}:6789
    path: {{rabbitmq_mount_path}}
    user: admin
    readOnly: false
    secretRef:
        name: ceph-secret-{{build_in_namespace}}
  persistentVolumeReclaimPolicy: Recycle