apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    creationTimestamp: null
    labels:
      io.kompose.service: rabbitmq
    name: rabbitmq
    namespace: {{build_in_namespace}}
  spec:
    ports:
    - name: "4369"
      port: 4369
      targetPort: 4369
      nodePort: {{nodeport_31003}}
    - name: "5672"
      port: 5672
      targetPort: 5672
      nodePort: {{nodeport_31002}}
    - name: "25672"
      port: 25672
      targetPort: 25672
      nodePort: {{nodeport_31001}}
    - name: "15672"
      port: 15672
      targetPort: 15672
      nodePort: {{nodeport_31000}}
    selector:
      app: rabbitmq
    type: NodePort
- apiVersion: extensions/v1beta1
  kind: Deployment
  metadata:
    creationTimestamp: null
    name: rabbitmq
    namespace: {{build_in_namespace}}
  spec:
    replicas: 1
    strategy:
      type: Recreate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: rabbitmq
      spec:
        containers:
        - image: {{registry_host}}/library/rabbitmq:{{rabbitmq_version}}
          name: rabbitmq
          env:
          - name: RABBITMQ_USERNAME
            value: {{RABBITMQ_USERNAME}}
          - name: RABBITMQ_PASSWORD
            value: {{RABBITMQ_PASSWORD}}
          - name: RABBITMQ_NODE_TYPE
            value: {{RABBITMQ_NODE_TYPE}}
          - name: RABBITMQ_ERLANG_COOKIE
            value: {{RABBITMQ_ERLANG_COOKIE}}
          ports:
          - containerPort: 4369
          - containerPort: 5672
          - containerPort: 25672
          - containerPort: 15672
          resources: {}
          volumeMounts:
          - mountPath: /bitnami/rabbitmq
            name: rabbitmq-rabbitmq-data
        restartPolicy: Always
        volumes:
        - name: rabbitmq-rabbitmq-data
          persistentVolumeClaim:
            claimName: rabbitmq-pvc
  status: {}

kind: List
metadata: {}

